 <%# its a one way of writting form %>
  <%# 2. form_for
  3. simple_form %>
  <%= form_with(model: customer) do |form| %> 
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_to_insert">
      <div>
      <%= form.label :name, style: "display: block" %>
        <br>
      <%= form.text_field :name  , required: true ,  maxlength: 20 , minlength: 4%>
      </div>
     <br>
    <div>
      <%= form.label :email, style: "display: block" %> 
      <br>
      <%= form.text_field :email %>
    </div>
      <br>

      <div>
      <%= form.label :dob, style: "display: block" %> 
      <br>
      <%= form.date_field :dob %>
    </div>
      <br>

     <div>
      <%= form.label :mob, style: "display: block" %> 
      <br>
      <%= form.number_field :mob %>
    </div>
      <br>


      <div>
      <%= form.label :about_me, style: "display: block" %>
        <br>
      <%= form.rich_text_area :about_me  %>
      </div>
     <br>

      <div>
      <%= form.label :profile_photo, style: "display: block" %>
        <br>
      <%= form.file_field :profile_photo  %>
      </div>
     <br>





    <div>
      <%= form.submit %>
    </div>
    
    
   </div>

  
<% end %>
