<p style="color: green"><%= notice %></p>

<div class="customer-card">
<%= render @product %>

  <p>

    
<% if @product.product_images.attached? %>
<% @product.product_images.each do |product_image| %>
  <%= image_tag url_for(product_image), alt: "Profile Picture" %>
  <% end  %>
<% end %>


</p>



  <div class="card-actions">
  <%= @product.description  %>
  <%= link_to "Edit this product", edit_product_path(@product), class: "btn edit-btn" %> |
  <%= link_to "Back to products", products_path, class: "btn back-btn" %>

  <%= button_to "Destroy this product", @product, method: :delete, class: "btn delete-btn"  %>
</div>
</div>
